{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Movies App</title>
    <link rel="stylesheet" href="{% static '../static/base.css' %}" />
    <link rel="stylesheet" href="{% static '../static/main_page.css' %}" />
  </head>
  <body>
    <div id="app">
      <header class="navbar">
        <span class="navbar__title"> This is the HollyMovies App! </span>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">
          <span>Logout</span>
        </a>
        <div class="user-profile">
          <span>{{user.username}}</span>
        </div>
        {% endif %} 
      </header>
      <div class="content">{% block content %} {% endblock %}</div>
    </div>

    <script>
      const elements = document.getElementsByTagName('body')
      body = elements[0]

      function handleCM(event) {
        event.preventDefault()
      }

      body.addEventListener("contextmenu", handleCM) 
    </script>
  </body>
</html>
