{% extends 'base.html' %} {% block content %}

<div>
  <a href = "{%url 'movie_create'%}">
  <button class="add-movie">
    Add movie
  </button>
  
  </a>

</div>



<div class="movie-container">
  {% for movie in object_list %}

  <div class="movie-card">
    <div class="movie__title">
      <span>{{movie.title}}</span>
      <span>{{movie.genre.name}}</span>
    </div>
    <div class="movie__description">
      <span>{{movie.description}} </span>
    </div>
    <div class="movie__rating">
        <span>{{movie.rating}} </span>
        <span>{{movie.released}} </span>
    </div>
  </div>

  {% endfor %}
</div>

{% endblock %}
