.movie-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.movie-card {
    width: 280px;
    height: 80px;
    padding: 10px;

    border-radius: 10px;
    background-color: rgb(185, 185, 185);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.movie__title {
    width: 100%;

    display: flex;
    justify-content: space-between;

    font-size: large;
}

.movie__description {
    width: auto;
    padding: 0 10px;

    font-size: small;
}

.movie__rating {
    width: 100%;

    display: flex;
    justify-content: space-between;

    font-size: small;
}

.add-movie {
    width: 80px;
    height: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 2px 2px 5px black;
    background-color: blueviolet;
    cursor: pointer;
}

.edit_icon {
    
}