.movie-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.movie-card {
    width: 280px;
    height: 120px;
    padding: 10px;

    border-radius: 10px;
    background-color: rgb(185, 185, 185);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.movie__title {
    width: 100%;

    display: flex;
    justify-content: space-between;

    font-size: large;
}

.movie__icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.movie__description {
    width: auto;
    padding: 0 10px;

    font-size: small;
}

.movie__rating {
    width: 100%;

    display: flex;
    justify-content: space-between;

    font-size: small;
}

.add-movie {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 2px 2px 5px black;
    background-color: blueviolet;
    cursor: pointer;
    font-size: 10px;
}

.edit_icon:hover {
    fill: yellow;
}

.delete_icon:hover {
    fill: red;
}

.create-search-container {
    width: 300px;
    /**/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    /**/
    margin-bottom: 20px;
}

.search-input {
    width: 100px;
}


.search-filter-form {
    width: 100%;
    display: flex;
    flex-direction: row;
}